body {
    background-color: black;
}

.container {

}

.collection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
    margin: 30px;
}

img {
    width: 20%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 90px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: white;
}

h1 {
    font-family: 'Anton';
    font-size: 6em;
    font-weight: 200;
    color: white;
    margin: 0;
}

h2 {
    font-family: 'Koulen';
    font-size: 2em;
    color: rgb(212, 255, 40);
    font-weight: 100;
}

h3 {
    font-family: 'Lacquer';
    color: rgb(212, 255, 40);
    font-size: 3em;
}

p {
    font-family: 'Koulen';
    color: white;
    font-size: 1.5em;
    margin: 0;
    font-weight: 30;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

.subttl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.brooklyn99 {
    filter: grayscale(100%);
}

.brooklyn99:hover {
    filter: none;
}

.tdltl {
    filter: grayscale(100%);
}

.tdltl:hover {
    filter: none;
}

.babydriver {
    filter: grayscale(100%);
}

.babydriver:hover {
    filter: none;
}

.villains {
    filter: grayscale(100%);
}

.villains:hover {
    filter: none;
}

.nessie {
    filter: grayscale(100%);
}

.nessie:hover {
    filter: none;
}

.collection {
    filter: grayscale(100%);
}

.collection:hover {
    filter: none;
}

.pools {
    filter: grayscale(100%);
}

.pools:hover {
    filter: none;
}

a {
    text-decoration: none;
}